{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Modifica Persona</h1>
    <form method="POST">
        <div class="form-group">
            <label for="first_name">Nome</label>
            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ person.first_name }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Cognome</label>
            <input type="text" id="last_name" name="last_name" class="form-control" value="{{ person.last_name }}" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Numero di Telefono</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ person.phone_number }}" required>
        </div>
        <div class="form-group">
            <label for="email">Indirizzo Email</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ person.email }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Aggiorna Persona</button>
    </form>
</div>
{% endblock %}
