{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Servizi</h1>
    <form method="POST">
        <div class="form-group">
            <label for="jellyfin_url">URL di Jellyfin</label>
            <input type="url" id="jellyfin_url" name="jellyfin_url" class="form-control"
                   value="{{ service.jellyfin_url if service else '' }}" required>
        </div>
        <div class="form-group">
            <label for="jellyfin_api_key">Chiave API di Jellyfin</label>
            <input type="text" id="jellyfin_api_key" name="jellyfin_api_key" class="form-control"
                   value="{{ service.jellyfin_api_key if service else '' }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
    </form>
</div>
{% endblock %}